.collectStatusWorld {
    width:100%;
    height:100%;
    background-image: url(project://database/Assets/Custom_Indicators/quest-goal-bg.png);
}

#questCount {
    font-size:48px;
    color:white;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
    top:130px;
    -unity-text-align: middle-center;
    width:100%;
}