.image-display {
    position: absolute;
    align-self: center;
    height: 100px;
}

.image02-display {
    position: absolute;
    align-self: center;
    top: 100px;
    height: 100px;
}

.image03-display {
    position: absolute;
    align-self: center;
    top: 200px;
    height: 100px;
}

.image04-display {
    position: absolute;
    align-self: center;
    top: 300px;
    height: 100px;
}

.image05-display {
    position: absolute;
    align-self: center;
    top: 400px;
    height: 100px;
}

.image06-display {
    position: absolute;
    align-self: center;
    top: 500px;
    height: 100px;
}

.image07-display {
    position: absolute;
    align-self: center;
    top: 600px;
    height: 100px;
}

.image08-display {
    position: absolute;
    align-self: center;
    top: 700px;
    height: 100px;
}

.image09-display {
    position: absolute;
    align-self: center;
    top: 800px;
    height: 100px;
}

.image10-display {
    position: absolute;
    align-self: center;
    top: 900px;
    height: 100px;
}

.image11-display {
    position: absolute;
    align-self: center;
    top: 1000px;
    height: 100px;
}

.image12-display {
    position: absolute;
    align-self: center;
    top: 1100px;
    height: 100px;
}

.image13-display {
    position: absolute;
    align-self: center;
    top: 1200px;
    height: 100px;
}

.image14-display {
    position: absolute;
    align-self: center;
    top: 1300px;
    height: 100px;
}

.image15-display {
    position: absolute;
    align-self: center;
    top: 1400px;
    height: 100px;
}

.image16-display {
    position: absolute;
    align-self: center;
    top: 1500px;
    height: 100px;
}

.image17-display {
    position: absolute;
    align-self: center;
    top: 1600px;
    height: 100px;
}

.image18-display {
    position: absolute;
    align-self: center;
    top: 1700px;
    height: 100px;
}

.image19-display {
    position: absolute;
    align-self: center;
    top: 1800px;
    height: 100px;
}

.image20-display {
    position: absolute;
    align-self: center;
    top: 1900px;
    height: 100px;
}

.image21-display {
    position: absolute;
    align-self: center;
    top: 2000px;
    height: 100px;
}

.image22-display {
    position: absolute;
    align-self: center;
    top: 2100px;
    height: 100px;
}

.image23-display {
    position: absolute;
    align-self: center;
    top: 2200px;
    height: 100px;
}

.image24-display {
    position: absolute;
    align-self: center;
    top: 2300px;
    height: 100px;
}

.image25-display {
    position: absolute;
    align-self: center;
    top: 2400px;
    height: 100px;
}
