.event-banner-u-i {
}

.image-display {
    position: absolute;
    align-self: center;
    height: 100px;
}

.image02-display {
    position: absolute;
    align-self: center;
    top: 100px;
    height: 100px;

}