.billboard {
    width: 100%;
    height: 100%;
}

.timer-container {
    width: 100%;
    height: 100%;
}

.timer-label {
    -unity-text-align: middle-center;
    font-size: 26px;
    -unity-font-definition: var(--font-bold);
    color: black;
    padding: 10px;
    background-color: white;
}

.billboard-display {
    position: absolute;
    top: 45px;
    align-self: center;
    width: 100%;
    height: 100%;
}

.hidden {
  display: none;
}

